* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-img {
  background: url('https://image.freepik.com/fotos-gratis/fatias-de-cenoura-broculos-cortados-ao-meio-tomates-dente-de-alho-e-pimenta-preta-ao-lado-de-papel-branco-em-branco-sobre-a-mesa-de-madeira_23-2148082828.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bg-img:after {
  background: rgba(0, 0, 0, 0.7);
  content: '';
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.content {
  background: rgba(255, 255, 255, 0.4);
  left: 50%;
  padding: 60px 32px;
  position: absolute;
  top: 60%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 370px;
  z-index: 99;
}

.content header {
  color: white;
  font-family: Tahoma , sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0 35px;
}

.field {
  background: rgba(255, 255, 255, 0.94);
  display: flex;
  height: 45px;
  position: relative;
  width: 100%;
}

.field input {
  background: transparent;
  border: none;
  color: #222;
  font-family: Tahoma , sans-serif;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
}

.space {
  margin-top: 16px;
}

.field span {
  color: #222;
  line-height: 45px;
  width: 40px;
}

.test {
  background-color: green;
  box-shadow: inset 0 0 1em yellowgreen , 0 0 1.5em green;
  color: yellowgreen;
  font-weight: 900;
}

.test:hover {
  box-shadow: inset 0 0 1em yellow , 0 0 5em green;
  color: yellow;
}

.btn {
  margin-top: 20px;
}
