* {
  box-sizing: border-box;
  font-family: Acme , sans-serif;
  margin: 0;
  padding: 0;
}

/*  codigo fonte para essa seção
https://pt.stackoverflow.com/questions/50942/como-adicionar-uma-rolagem-horizontal-no-css
*/

.detail {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  margin-bottom:0 !important;
  width: 360px;
}

h1 {
  color: #F9B9BA !important;
  padding: 10px;
}

.header-detail {
  align-items: center;
  background-color: #da2846;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.category {
  align-items: center;
  background-color: #98e2e134;
  border: 1px solid #F9B9BA !important;
  border-bottom: none;
  border-left: none;
  border-radius: 5px;
  border-top: none;
  color: #F9B9BA !important;
  display: flex;
  font-size: 14px;
  height: 30px;
  margin: 0 5px 5px;
  padding: 5px 10px;
}

.buttons {
  align-items: center;
  display: flex;
}

.favorite-btn, .share-btn {
  background-color: #da2846;
  border: none;
  margin: 0 5px;
}

.ingredients, .recommended {
  margin: 5px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.800);
}

.recommended {
  margin-top: 40px;
}

.ingredients p {
  color: rgba(0, 0, 0, 0.800);
}

iframe {
  border-radius: 5px;
  height: 250px;
  width: 350px;
}

.recomended-section {
  height: 325px;
  overflow-x: scroll auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 40px;
}

.recomended-div {
  /* box-shadow: 1px 1px 10px #999; */
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  max-height: 280px;
  text-align: center;
  vertical-align: top;
  zoom: 1;
  color: rgba(0, 0, 0, 0.800);
  background-color: #F9B9BA;
  border: 1px solid #F9B9BA !important;
  border-radius: 0 0 5px 5px !important;
}

.recomended-div p {
  color: rgba(0, 0, 0, 0.800);
}

.recomended-div img {
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #F9B9BA;
  border-radius: 5px 5px 0 0 !important;
}

.start-recipe-button {
  background-color: #da2846;
  border-color: #F9B9BA !important;
  border-radius: 10px;
  bottom: 0;
  color: #F9B9BA !important;
  padding: 5px;
  position: fixed;
  left: 200px;
  width: 150px;
  margin-bottom: 10px;
}

.start-recipe-button:hover {
  background-color: white;
  border: none;
  box-shadow: inset 0 0 1em yellowgreen , 0 0 1.5em green;
  color: green;
}
