* {
  box-sizing: border-box;
  font-family: Acme , sans-serif;
  margin: 0;
  padding: 0;
}

.content-explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5px 40px 5px;
}

.ingredient a {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 150px;
}

.ingredient img {
  margin: 10px;
  width: 100px;
}

p {
  color: #da2846;
}
