/*  codigo fonte para essa seção 
https://pt.stackoverflow.com/questions/50942/como-adicionar-uma-rolagem-horizontal-no-css */
.recomended-section {
  overflow-x: scroll auto;
  overflow-y: hidden;
  height: 325px;
  white-space:nowrap;
}

.recomended-div {
  box-shadow: 1px 1px 10px #999; 
  margin: 20px;
  max-height: 250px;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  text-align: center;
}
/* até aqui */