* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

.bg-img {
  background: url('https://image.freepik.com/fotos-gratis/fatias-de-cenoura-broculos-cortados-ao-meio-tomates-dente-de-alho-e-pimenta-preta-ao-lado-de-papel-branco-em-branco-sobre-a-mesa-de-madeira_23-2148082828.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.bg-img:after {
  background: rgba(0, 0, 0, 0.226);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.appRecipe{
background: linear-gradient(180deg, rgba(218,40,70,1) 0%, rgba(218,40,70,1) 0%, rgba(0, 0, 0, 0) 69%);
position: absolute;
width: 100%;
height: 150px;
color: white;
text-align: center;
padding-top: 30px;
font-weight: bolder;
}

.content {
  /* background: rgba(255, 255, 255, 0.4); */
  left: 50%;
  padding: 50px 32px;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 330px;
  z-index: 99;
  border-radius: 5px;
}

.h1Login {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin: 30px 35px;
  font-weight: bolder;
}

input {
  margin-bottom: 20px;
}

button {
  border: 1px solid #da2846;
}

.divPassword {
  display: flex;
  align-items:baseline;
  align-content: center;
  justify-content: flex-end;
}

.divPassword button {
  position: absolute;
  margin-top: 4px;
  background-color: transparent;
  border: none;
}

.test {
  background-color: #da2846;
  box-shadow: 0 0 1.5em #da2846;
  color: white;
  font-weight: 900;
  border: 1px solid #da2846;
}

.test:hover {
  box-shadow: inset 0 0 1em yellow, 0 0 5em green;
  color: yellow;
  border: 1px solid #da2846;
}

.btn {
  margin-top: 20px;
}
