* {
  box-sizing: border-box;
  font-family: Acme, sans-serif;
  margin: 0;
  padding: 0;
}

.login {
  background: url('https://image.freepik.com/fotos-gratis/fatias-de-cenoura-broculos-cortados-ao-meio-tomates-dente-de-alho-e-pimenta-preta-ao-lado-de-papel-branco-em-branco-sobre-a-mesa-de-madeira_23-2148082828.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.login-box h1 {
  color: #d81132c5 !important;
  font-size: 25px;
  font-weight: 900;
  margin: 30px 35px;
}

.content {
  border-radius: 5px;
  left: 50%;
  padding: 50px 32px;
  position: absolute;
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 330px;
  z-index: 99;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin-bottom: 20px;
  width: 150px !important;
  color: #da2846;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #da284655 !important;
  padding: 5px;
}

input:focus:placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */

input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.divPassword {
  align-content: center;
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
}

.divPassword button {
  background-color: transparent;
  border: none;
  margin-top: 4px;
  position: absolute;
}

.test {
  background-color: #da2846;
  border: 1px solid #da2846;
  box-shadow: 0 0 1.5em #da2846;
  color: #f9b9ba;
  font-weight: 900;
}

.test:hover {
  border: 1px solid #da2846;
  box-shadow: inset 0 0 1em yellow, 0 0 5em green;
  color: #f9b9ba;
}

.btn {
  color: #f9b9ba;
  border: 1px solid #da2846;
}
