* {
  box-sizing: border-box;
  font-family: Acme, sans-serif;
  margin: 0;
  padding: 0;
}

.content-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-profile p {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.profile-done-btn, .profile-favorite-btn, .exit {
  background-color: #da2846;
  border-color: #98e2e1;
  border-radius: 10px;
  bottom: 0;
  margin-bottom: 10px;
  padding: 5px;
  right: 200px;
  width: 200px;
}

.profile-done-btn a, .profile-favorite-btn a, .exit {
  color: #98e2e1;
}
